<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ assignment?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let item of assignment?.videos">
      <video preload="true" controls="true">
        <source [src]="item.url | trustUrl" type='video/mp4'>
      </video>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <strong>{{ item.name }}</strong>
            </ion-col>
            <ion-col class="ion-text-end">
              {{ item.duration }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
</ion-content>
